
#caja1 {
    width: 300px; 
    height: 200px; 
}

#caja2 {
    width: 60%;

}

#caja1 {
    margin: 20px; 
}

#caja2 {
    padding: 10px; 
}

#caja1 {
    border: 2px solid #006eff; 
}

#caja2 {
    border: 2px solid #05a100; 
    border-radius: 8px; 
}

#caja1 {
    position: absolute;
    top: 0;
    left: 0; 
}

#caja2 {
    position: absolute; 
    bottom: 0; 
    right: 0;
}